---
import Layout from "@/layouts/Base";
---

<Layout
	title="About Me"
	description="Something about AA"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">whoami</h1>
	<p>
		Hi there, this is AA, a senior majors in computer science and information engineering. 
		I'm an enthusiastic educator, currently a memebr of education progress and PASSION remote-area education progress. 
		Research mostly focus on information security.
	</p>

	<h2 class="title mt-4">Education</h2>
	<ul class="list-inside list-disc">
		<li>Institute of Computer and Communication Security, National Yang Ming Chiao Tung University</br>
			&emsp;| 2025-07 - NOW
		</li>
		<li>
			Department of Computer Science and Information Engineering, National Taiwan Normal University<br/>
			&emsp;| 2021-09 - 2025-06
		</li>
		<li>
			The Affiliated Zhongli Senior High School of National Central University<br/>
			&emsp;| 2018-09 - 2021-06
		</li>
	</ul>

	<h2 class="title mt-4">Working experience</h2>
	<ul class="list-inside list-disc">
		<li>
			Intern @ ISSDBU in <a href="https://www.gss.com.tw/" class="cody-link inline-block" target="_blank">Galaxy Software Service</a><br/>
			&emsp;| 2024-07 - 2024-12
		</li>
	</ul>

	<h2 class="title mt-4">Education experience</h2>
	<ul class="list-inside list-disc">
		<li>
			Summer vacation student teacher in Tongli Junior High School<br/>
			&emsp;| 2023-07
		</li>
		<li>
			Online student teacher in Wanglong Junior High School<br/>
			&emsp;| 2024-09 - NOW
		</li>
		<li>
			Tutor of Senior High School Mathematics<br/>
			&emsp;| 2023-03 - NOW
		</li>
		<li>
			Digital Companions for Learning: Dong-Bian Elementary School - 5<sup>th</sup> Grade Mathematics<br/>
			&emsp;| 2023-03 - 2023-06<br/>
			&emsp;| Excellent Companion Awards
		</li>
	</ul>

	<!-- <h2 class="title mt-4">Leetcode</h2>
	<img src="https://leetcard.jacoblin.cool/Tp61i6m6_AA?theme=nord&font=ABeeZee"> -->

</Layout>
