---
import Layout from "@/layouts/Base";
---

<Layout
	title="關於我"
	description="關於 AA 的一些簡介"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">我是誰</h1>
	<p>
		嗨！我是 AA，一名國立台灣師範大學資訊工程學系四年級學生，
		也是一名對教育充滿熱忱的教育者，正在修習教育學程與 PASSION 偏鄉優質教育學分學程。
		研究領域主要在資訊安全，
	</p>

	<h2 class="title mt-4">學歷</h2>
	<ul class="list-inside list-disc">
		<!-- <li>國立陽明交通大學 資訊安全研究所</li> -->
		<li>國立臺灣師範大學 資訊工程學系</li>
		<li>國立中央大學附屬中壢高級中學</li>
	</ul>

	<h2 class="title mt-4">工作經歷</h2>
	<ul class="list-inside list-disc">
		<li>叡揚資訊 實習生 @ 資安直屬事業處</li>
	</ul>

	<h2 class="title mt-4">教育經歷</h2>
	<ul class="list-inside list-disc">
		<li>花蓮縣立東里國中 暑期實習教師</li>
	</ul>

	<!-- <h2 class="title mt-4">Leetcode</h2>
	<img src="https://leetcard.jacoblin.cool/Tp61i6m6_AA?theme=nord&font=ABeeZee"> -->

</Layout>
