---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-4xl font-bold mb-8 text-nvim-blue">Contact me</h1>
    <div class="text-center">
      <p class="mb-4">version 0.0.1</p><br/>
      <p class="mb-2">你可以透過以下方式找到我</p>
      <p class="mb-4">Gmail: <a href="mailto:luke041510@gmail.com" class="text-nvim-green">luke041510@gmail.com</a></p>
      <p class="mb-4">Instagram : <a href="https://instagram.com/luke.0419" class="text-nvim-green">luke.0419</a></p>
      <p class="mb-4">Github : <a href="https://github.com/april-aries" class="text-nvim-green">April-Aries</a></p>
      <p class="mb-4">LinkedIn: <a href="https://www.linkedin.com/in/bo-yu-chen-ab8a402a9/" class="text-nvim-green">Bo-Yu Chen</a></p>
    </div>
  </div>
</Layout>
