<header class="bg-nvim-bg text-nvim-fg py-1 px-4 text-sm">
  <div class="flex justify-between items-center">
    <span>AA's blog</span>
    <nav>
      <ul class="flex space-x-4">
        <li style="list-style-type: none"><a href="/" class="hover:text-nvim-blue">Home</a></li>
        <li style="list-style-type: none"><a href="/about" class="hover:text-nvim-blue">About</a></li>
        <li style="list-style-type: none"style="list-style-type: none"><a href="/blog" class="hover:text-nvim-blue">Posts</a></li>
        <li style="list-style-type: none"><a href="/contact" class="hover:text-nvim-blue">Contact</a></li>
        <li style="list-style-type: none"><a href="/help" class="hover:text-nvim-blue">Help</a></li>
      </ul>
    </nav>
  </div>
</header>
